.b-button {
    font-family: 'Pacifico', cursive;
    background: transparent;
    padding: 11px 20px 10px;
    border: 1px solid #EBDBCC;
    color: #EBDBCC;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    cursor: pointer;
}