.b-promocode-list {
    padding: 0;

    &__item {
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__date {
        color: #DDDDDD;
    }
}