.b-sale {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon {
        flex-shrink: 0;
        color: red;
    }

    &__name {
        font-size: 16px;
        line-height: 1.19;
    }

    &__type {
        font-size: 10px;
        line-height: 1.2;
    }
}