.b-sale {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon {
        flex-shrink: 0;
        color: red;
    }

    &__name {
        font-size: 16px;
        line-height: 1.19;
    }

    &__type {
        font-size: 10px;
        line-height: 1.2;
    }

    .b-screen-enter & {
        transform: translateX(100vw);
    }

    .b-screen-enter-active & {
        transform: translateX(0);
        transition-property: transform;
        transition-duration: 0.7s;
        transition-delay: 0.8s;
        transition-timing-function: cubic-bezier(0.660, 1.650, 0.295, 0.680);
    }
}