.b-screen-coin {
    margin-bottom: 60px;

    &__text {
        font-family: 'Pacifico', cursive;
        color: #EBDBCC;
        max-width: 420px;
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 3.5px;
    }

    &__button {
        margin-bottom: 20px;
    }
}