// @keyframes shadow {
//     from {transform: rotate(0);}
//     50% {transform: rotate(2deg);}
//     to {transform: rotate(0);}
// }

.b-screen-coin {
    margin-bottom: 60px;

    &__text {
        color: #EBDBCC;
        max-width: 432px;
        font-size: 18px;
        margin-bottom: 48px;
    }

    &__button {
        margin-bottom: 32px;
    }

    & svg {
        // animation: shadow 2s ease-in-out 0.5s alternate, move 5s linear 2s;
        animation-name: shadow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    
    &.b-screen-enter {
        opacity: 0;
        transform: translateX(100px);
    }

    &.b-screen-enter-active {
        opacity: 1;
        transform: translateX(0px);
        transition-property: transform, opacity;
        transition-duration: 0.5s;
    }

    &.b-screen-exit {
        opacity: 1;
        transform: translateX(0);
    }

    &.b-screen-exit-active {
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 0.5s;
        transform: translateX(-100px);
    }
}