// @keyframes shadow {
//     from {transform: rotate(0);}
//     50% {transform: rotate(2deg);}
//     to {transform: rotate(0);}
// }

@keyframes swipe-start {
    from {
        bottom: 200px;
        transform: translate(-50%, 0);
    }

    to {
        bottom: 50%;
        transform: translate(-50, -50%);
    }
}

@keyframes height-line {
    to {
        height: 0;
    }
}

.b-screen-coin {

    &__title {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #fff;
        margin-top: 8px;
        margin-bottom: 44px;
    }

    &__control-image {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
        z-index: 8;
        font-size: 0;
        line-height: 0;

        animation-name: swipe-start;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
        // animation-timing-function: cubic-bezier(.27,.01,.9,.14);
        animation-timing-function: ease;
        height: 47px;

        div {
            height: 55px;
            width: 2px;
            background-color: #fff;
            margin-left: 63px;

            animation-name: height-line;
            animation-duration: 0.5s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            // animation-timing-function: cubic-bezier(.27,.01,.9,.14);
            animation-timing-function: ease;
        }
    }

    &__text {
        color: #EBDBCC;
        max-width: 432px;
        font-size: 18px;
        margin-bottom: 48px;
    }

    &__button {
        margin-bottom: 32px;
    }

    &__slide {
        position: relative;

        &:focus {
            border: none;
            outline: none;
        }
    }

    & svg {
        // animation: shadow 2s ease-in-out 0.5s alternate, move 5s linear 2s;
        animation-name: shadow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    
    &.b-screen-enter {
        opacity: 0;
        transform: translateX(100px);
    }

    &.b-screen-enter-active {
        opacity: 1;
        transform: translateX(0px);
        transition-property: transform, opacity;
        transition-duration: 0.5s;
    }

    &.b-screen-exit {
        opacity: 1;
        transform: translateX(0);
    }

    &.b-screen-exit-active {
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 0.5s;
        transform: translateX(-100px);
    }
}

.slick {

    &-slider {
        font-size: 0;
        line-height: 0;
    }
    
    &-slide {
        display: inline-block;
        vertical-align: top;
        float: left;
    }

    &-dots {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
        width: 70%;
        padding: 0;
        margin: 0;
        display: flex !important;
        justify-content: center;
        
        li {
            list-style: none;
            padding: 0 6px;
            font-size: 0;
            line-height: 0;
            height: 6px;
        }

        button {
            text-indent: -999px;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background-color: #96A491;
            opacity: 0.3;
            padding: 0;
            border: none;
            outline: none;
            transition: opacity 0.3s;
        }
    }

    &-active {
        z-index: 5;
        button {
            opacity: 1;
        }
    }
}

.b-coin-head {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 50;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;

    &__item {
        margin: 0;
        padding: 0;
        font-size: 0;
        line-height: 0;

        &--list {
            display: flex;
            margin: 0 -6px;
        }

        &--right {
            margin-left: auto;
        }
    }

    &__icon {
        padding: 4px;
        margin-top: -4px;
        height: 32px;
        display: flex;
        align-items: center;

        img {
            max-height: 100%;
        }

        &--right {
            img {
                transform: rotate(180deg);
            }
        }
    }
}

.video-react {
    height: 100vh !important;
    
    &-video {
        height: 100vh !important;
        object-fit: cover;
        object-position: bottom center;
    }

    &-loading-spinner,
    &-bezel {
        display: none !important;
    }

    .video-react-big-play-button {
        display: none;
    }
}