.b-card {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--borderColorSecondary);

    &__wrapper {
        padding: 140px 16px 15px;
        position: relative;

        > *:not(.b-card__image-wrapper) {
            position: relative;
            z-index: 2;
        }
    }

    &__image-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
            opacity: 0.3;
            z-index: 1;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            z-index: 2;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    &__address {
        font-size: 16px;
        line-height: 1.16;
    }

    &__name {
        font-size: 40px;
        line-height: 1.16;
        margin: 0;
        margin-top: 4px;
    }

    &__info-bar {
        margin-bottom: 20px;

        .b-screen-enter & {
            animation-name: text-enter;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }
    }
}

@keyframes text-enter {
    from {
        transform: translateX(20px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes opacityIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
