.b-card {
    text-align: left;
    color: #EBDBCC;
    border: 1px solid #EBDBCC;
    max-width: 420px;

    .b-screen-enter & {
        opacity: 0;
        transform: translateX(100px);
    }

    .b-screen-enter-active & {
        opacity: 1;
        transform: translateX(0);
        transition-delay: 1s;
        transition-property: opacity, transform;
        transition-duration: 0.5s;
    }

    &__image-wrapper {
        min-height: 283px;
    }

    &__image {
        max-width: 100%;
    }

    &__content {
        padding: 20px;
    }

    &__name {
        font-size: 32px;
    }

    &__feedback {
        div {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__feedback-star {
        margin-right: 10px;
    }

    &__icon {
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        svg {
            fill: #00a680;
        }
    }
}