.b-card {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--borderColorSecondary);
   
    &__wrapper {
        padding: 140px 16px 15px;
        position: relative;

        > *:not(.b-card__image-wrapper) {
            position: relative;
            z-index: 2;
        }
    }

    &__image-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.3;
            z-index: 1;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.7) 5%,rgba(0,0,0,0) 15%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%); 
            z-index: 2;
        }

        .b-screen-enter & {
            opacity: 0;
        }

        .b-screen-enter-active & {
            transition: opacity 0.5s;
            transition-delay: 1.5s;
            opacity: 1;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    &__address {
        font-size: 12px;
        line-height: 1.16;
    }

    &__name {
        font-size: 32px;
        line-height: 1.16;
        margin: 0;
        margin-top: 4px;
    }

    &__info-bar {
        margin-bottom: 20px;

        .b-screen-enter & {
            transform: translateX(100vw);
        }

        .b-screen-enter-active & {
            transform: translateX(0);
            transition-property: transform;
            transition-duration: 0.7s;
            transition-timing-function: cubic-bezier(0.660, 1.650, 0.295, 0.680);
        }
    }
}