$screen-bar-offset-top: 80px;

.b-screen-bar {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

    &__nav {
        position: absolute;
        z-index: 15;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0px 16px;
        padding-top: 18px;

        .b-screen-enter & {
            opacity: 0;
            transform: translateY(-100%);
        }

        .b-screen-enter-active & {
            transition: 1s;
            transition-delay: 1.5s;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__nav-arrow,
    &__nav-share {
        flex-shrink: 0;
        font-size: 0;
        line-height: 0;
    }

    &__nav-arrow {
        text-align: left;
    }

    &__nav-share {
        text-align: right;
    }

    &__nav-tab-bar {
        flex-grow: 1;
        text-align: center;
    }

    &__tab-content {
        &--full {
            height: 100%;
            padding-top: $screen-bar-offset-top;
        }

        .b-screen-enter & {
            opacity: 0;
        }

        .b-screen-enter-active & {
            transition: opacity .5s;
            transition-delay: 1s;
            opacity: 1;
        }
    }

    &__tab-title {
        margin: 0 0 12px;
        padding: 0 16px;
        font-size: 32px;
        line-height: 37px;
        text-align: left;
    }

    &__taxi {
        position: relative;
        z-index: 100;
        margin-top: -50px;
    }
}
