@import "components/global/colors.scss";

* {
  box-sizing: border-box;
  font-weight: normal;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  background: var(--gray-900);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}