:root {
  --borderColorPrimary:  #555555;
  --borderColorSecondary: #252525;
}

* {
  box-sizing: border-box;
  font-weight: normal;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}