// colors
:root {
    --gray-0: #fff;
    --gray-100: #e6e6e6;
    --gray-200: #eee;
    --gray-300: #ccc;
    --gray-400: #aaa;
    --gray-500: #888;
    --gray-600: #666;
    --gray-700: #444;
    --gray-800: #222;
    --gray-900: #050505;

    --green-500: #32D35E;
}

// naming
:root {
  --accent: var(--green-500)
}

// borders
:root {
  --borderColorPrimary:  var(--gray-500);
  --borderColorSecondary: var(--gray-800);
}